@mixin fluid-text($min: 14, $max: 48) {
    font-size: clamp(#{$min}px, calc(#{$max} / 1440 * 100vw), #{$max}px);
}

@mixin reset-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

@mixin color {
    color: red;
}