$color-green: #b9ff66;
$color-grey: #f3f3f3;
$color-grey-alt: #898989;
$color-dark: #191a23;
$color-black: #000;
$color-ligth: #FFFFFF;

$width: 1240px;

$gap-Y-desktop: 140px;
$gap-Y-tablet: 100px;
$gap-Y-mobile: 60px;

$title-gap-Y-desctop: 80px;
$title-gap-Y-tablet: 60px;
$title-gap-Y-mobile: 40px;
